{% extends 'base.html' %}

{% block title %}
    Actualizar datos
{% endblock %}

{% block content %}
{% load static %}
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{% static 'css/styles2.css' %}" rel="stylesheet" />

<div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Actualizar datos</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            {% if form %}
                
                <div class="col-lg-8 col-xl-7">
                    <form action="" method="POST" enctype="multipart/form-data" >

                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <table>
                                {{form.as_table}}
                            </table>
                        </div>
                        <input type="submit" value="Actualizar">
                    </form>
                </div>
            {% endif %}
            {% if errors %}
                {{errors}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}