{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Trocars</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Encontrá tu próximo auto</p>
                </div>
            </div>
        </header>
        {% load static %}
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{% static 'assets/salon.jpg' %}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">Visita nuestra oferta de vehículos!</h5>            
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href='/car/show_car/'>Salón</a></div>
                </div>
            </div>
        </div>       
    </div>
</div>
{% endblock %}